{{!-- blog post section --}}

<p>this is a test</p>
<section class="blog-section">
    <div class="blogs">
        {{#each blog as |userBlog|}}

            <div class="blog">
                <h2>{{this.title}}</h2>
                <h3>{{this.username}}</h3>
                <p>{{this.createdAt}}</p>
                <p>{{this.post_content}}</p>
            </div>
        {{/each}}
    </div>
</section>