<h2>Create Account</h2>

<form class="form" id="createAccount">
    <div class="form-group">
        <label for="account-username">Username:</label>
        <input class="form-input" type="text" id="account-username" />
    </div>
    <div class="form-group">
        <label for="account-password">Password:</label>
        <input class="form-input" type="password" id="account-password" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/login.js"></script>