<section class="blog-section">
    <div class="blogs">
        {{#each blogs as |userBlog|}}

            <div class="blog">
                <h2>{{this.title}}</h2>
                <p>{{this.createdAt}}</p>
            </div>
        {{/each}}
    </div>
</section>

{{!-- don't need this here, need to have it inside of the dashboard button --}}
<button class="uk-button uk-button-default " id="writeBlogButton">Submit Post</button>